/*

Custom CSS Style - if needed

*/

html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.nd_brand {
  font-family: Oswald, "sans-serif";
  text-transform: uppercase;
}

.nd_header {
  min-height: 100%;
  position: relative;
}

.nd_header .btn-large {
  margin-top: 20px;
}

.nd_header__brand {
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
  filter: drop-shadow( 0px 3px 4px rgba(0,0,0,0.5));
  -webkit-filter: drop-shadow( 0px 3px 4px rgba(0,0,0,0.5));
  font-size: 98px;
  max-height: 400px;
}

.nd_header__quote {
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
  font-family: Oswald, "sans-serif";
  text-align: center;
}
.nd_header__radio_link {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  height: 75px;
  width: 75px;
  padding-bottom: 5px;
  transition: opacity 0.4s;
}
.nd_header__img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-image: url('../img/headertest.jpg')
}
.parallax-container {
  height: 100%;
}

.nd_header__radio_link:hover {
  opacity: 1;
}

.nd_calendar dt {
  font-weight: bold;
}

.nd_tweetstream__img {
  padding: 6px;
  height: 50px;
  width: 50px;
}
.navbar-fixed {
  position: fixed;
}

.navbar-fixed nav {
  background: rgba(255, 255, 255, 0.95);
}

.brand-logo,
.navbar__logo {
  height:48px;
  width:40px;
}

.brand-logo {
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

nav ul li {
  background: none;
  font-weight: medium;
}

nav ul li a {
  color: #bdbdbd;
  text-transform: uppercase;
  background: none;
}

nav ul li:hover a, nav ul li:active a, nav ul li:focus a, nav ul li.active a {
  color: #424242;
  background: none;
}

nav ul li:hover, nav ul li:active, nav ul li:focus, nav ul li.active {
  background: none;
}

.social-networks {
  text-align: right;
  line-height: 64px;
}

.social-networks img {
  width: 24px;
  height: 24px;
  margin-right: 32px;
  vertical-align: middle;
}

#calendar dt {
  margin-top: 5px;
}
#calendar dd {
  margin-left: 0;
}
#calendar ul {
  margin: 0;
}
#calendar li {
  list-style-type: initial;
  margin-left: 20px;
}
/*
.social-icons.facebook:hover img{
  background-color: #3B5998;
}

.social-icons.twitter:hover img{
  background-color: #55ACEE;
}

.social-icons.periscope:hover img{
  background-color: #47ADCA;
}
*/

.hero-gradient {
  /*background-image: linear-gradient(-180deg, rgba(0,60,250,0.50) 0%, rgba(255,255,255,0.00) 100%);*/
}

/* .hero-blur {
   -webkit-filter: blur(2px);
   filter: blur(2px);
 }*/

.border-text {
  border-left: #00BCD4 4px solid;
    padding-left: 32px;
}

.section {
  padding-top: 40px;
}

.toolbar {
  position: fixed;
}

.snapwidget-widget {
  pointer-events: none;
}

#news a {
  color: #424242;
}

#tweetstream a {
  color: white;
}

.reverse {
  transform: rotateY(180deg);
}

.parallax img {
  display: block;
}