/*

Custom CSS Style - if needed

*/

html, body {
  height: 100%;
}
.nd_brand {
  font-family: Oswald, "sans-serif";
  text-transform: uppercase;
}

.nd_header {
  height: 100%;
}

.nd_header .btn-large {
  margin-top: 20px;
}

.nd_header__brand {
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
  font-size: 98px;
}
.nd_header__pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/svg/motif-fond.svg');
  background-repeat: repeat;
  background-size: 700px;
}

.nd_header__quote {
  font-family: Oswald, "sans-serif";
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}



.navbar-fixed {
  position: fixed;
}

.navbar-fixed nav {
  background: rgba(255, 255, 255, 0.95);
}

.navbar__logo {
  margin-left: 32px;
  vertical-align: middle;
}

nav ul li {
  background: none;
  font-weight: medium;
}

nav ul li a {
  color: #bdbdbd;
  text-transform: uppercase;
  background: none;
}

nav ul li:hover a, nav ul li:active a, nav ul li:focus a, nav ul li.active a {
  color: #424242;
  background: none;
}

nav ul li:hover, nav ul li:active, nav ul li:focus, nav ul li.active {
  background: none;
}

.social-networks {
  text-align: right;
  line-height: 64px;
}

.social-networks img {
  width: 24px;
  height: 24px;
  margin-right: 32px;
  vertical-align: middle;
}

/*
.social-icons.facebook:hover img{
  background-color: #3B5998;
}

.social-icons.twitter:hover img{
  background-color: #55ACEE;
}

.social-icons.periscope:hover img{
  background-color: #47ADCA;
}
*/

.hero-gradient {
  /*background-image: linear-gradient(-180deg, rgba(0,60,250,0.50) 0%, rgba(255,255,255,0.00) 100%);*/
}

// .hero-blur {
//   -webkit-filter: blur(2px);
//   filter: blur(2px);
// }

.border-text {
  border-left: #00BCD4 4px solid;
    padding-left: 32px;
}

.section {
  padding-top: 40px;
}

p {
  margin-bottom: 32px;
}

.icon-text {

}

.toolbar {
  position: fixed;
}

.snapwidget-widget {
  pointer-events: none;
}

#news a {
  color: #424242;
}

#tweetstream a {
  color: white;
}