  <footer class="page-footer">
      <div class="container">
        <div class="row" >



          <div class="col s6">
            <h5>#NuitDebout</h5>
                <div class="social-networks social-networks--footer">

                  <a href="https://www.facebook.com/NuitDebout/" target="_blank" class="social-icons facebook">
                    <img src="/icons/ic_fb_light.svg" />
                  </a>
                  <a href="https://twitter.com/nuitdebout" target="_blank" class="social-icons twitter ">
                    <img src="/icons/ic_twitter_light.svg" />
                  </a>
                  <a href="https://www.periscope.tv/RemyBuisine" target="_blank" class="social-icons periscope ">
                    <img src="/icons/ic_periscope.svg" />
                  </a>

                   <a href="https://github.com/nuitdebout/nuitdebout.github.io" target="_blank" class="social-icons github  ">
                    <img src="/icons/ic_github_light.svg" />
                  </a>
              </div>

          </div>

          <div class="col s6">
            <h5>Voir aussi</h5>
            <a target="_blank" href="https://www.convergence-des-luttes.org/">
              <img src="/img/CONVERGENCE-DES-LUTTES.png"/>
            </a>
          </div>

        </div>
      </div>
    </footer>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/jQuery.succinct.min.js"></script>
  <script src="js/main.js"></script>
  <script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-75928661-1','auto');ga('send','pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>

</body>
</html>
