{{> header navbar_class="navbar"}}
<h1 class="center">CRIDA INTERNACIONAL DE *NUIT DEBOUT</h1>
<div class="international-banner"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <p>
      A CONVERGIR A PARÍS EL 7 I 8 DE MAIG DE 2016 PER UNA * NUITDEBOUT ARREU *(GLOBALDEBOUT) EL 15 DE MAIG DE 2016
      </p>
      <p>
      El  #46mars (15 d'abril), dues setmanes després de la gran mobilització del  31 de març a París, el moviment Nuit Debout no deixa d'estendre's. En  nombroses ciutats franceses i estrangeres, les #NitDempeus veuen la llum  i donen testimoni d'esperances i rebel·lions comunes.  Els que han  passat per les places ocupades i els que estan participant  en elles ho  saben bé: alguna cosa està passant.
      </p>
      <p>
      Habitants  del món  sencer, fem enderrocar les fronteres i construïm junts una  nova  primavera global! Uneix-te a nosaltres els propers 7 i 8 de maig  a  París, a la plaça de la República, per trobar-nos, debatre,  compartir  les nostres experiències i les nostres habilitats públiques, i  començar a  construir junts perspectives i solucions comunes. I  sobretot, preparem i llancem junts una gran acció internacional el 15 de maig (#76mars) per ocupar massivament les places a  tot el món en aquesta data.
      </p>
      <p>
      #NitDempeus   es va fixar com a primer objectiu la creació d'un espai de  convergència  de lluites. Aquesta convergència podria anar encara més  lluny i  estendre's en l'àmbit internacional. Hi ha llaços entre els  nombrosos  moviments que s'oposen, als quatre cantons del món, a la  precarietat, a  la imposició dels mercats financers, a la destrucció de  l'entorn, a les  guerres i al militarisme. A la degradació de les  nostres condicions de  vida.
      </p>
      <p>
      A la competència i l'egoisme, responem amb la solidaritat, la  reflexió i l'acció col·lectiva.
      </p>
      <p>
      Les  nostres diferències ja no són font  de divisions, sinó la base de la  nostra complementarietat i de la nostra  força comuna. Ni escoltats ni  representats, nosaltres, persones de tota  condició, ens reapropiem  junts de la paraula i de l'espai públic: fem política, perquè és cosa de  tots.
      </p>
      <p>
      Ara  ja no és el moment d'indignar-se en solitari en una cantonada, sinó  d'actuar tots junts.

      Nosaltres,  el 99%, tenim la capacitat d'actuar i de  rebutjar definitivament als  de l'1% i el seu món, per desallotjar-los  de les nostres ciutats, dels  nostres llocs de treball, de les nostres  vides.
      </p>
      <p>
      La 7 i 8 de maig, acudim junts a París a la plaça de la República!
      </p>
      <p>
      El 15 de maig rebel·lem-nos junts: #NuitDebout arreu, #GlobalDebout!
      </p>
    </div>
    <div class="col s12">
      <div class="center-block">
        <h3>more infos:</h3>
        <p>
        <a href="http://twitter.com/GlobalDebout">http://twitter.com/GlobalDebout</a>
        </p>

         <p>
        <a href="https://www.facebook.com/events/254751298208004/">https://www.facebook.com/events/254751298208004/</a>
      </p>


      <p>
        <a href="mailto:intnuitdebout@riseup.net">intnuitdebout@riseup.net</a>
      </p>
      </div>
    </div>

  </div>
</div>

{{> footer}}