{{> header navbar_class="navbar"}}
<div class="container">
  <div class="row">
    <div class="col s12">
    <p>
    Zwei Wochen nach der Großmobilisierung des 31. März wächst Nuit Debout unermüdlich. In zahlreichen französischen Städten und im Ausland entstehen Nuit Debout, und bezeugen gemeinsame Hoffnungen und Kämpfe.
    </p>
    <p>
    All diejenigen die auf den besetzten Plätzen waren, und somit Teil von Nuit Debout wurden, wissen es: es passiert etwas! Einwohner dieser Erde, lasst uns die Grenzen zum Fallen bringen und einen neuen globalen Frühling gestalten! Kommt am 7. Und 8. Mai nach Paris zum Place de la Republique, um uns kennenzulernen, zu diskutieren, um Erfahrungen und Knowhow auszutauschen, und um gemeinsame Perspektiven und Pläne zu schmieden. Und vor allem um das große internationale Aktionswochenende des 15. Mai vorzubereiten, an dem wir massiv die öffentlichen Plätze auf der ganzen Welt besetzen werden! Nuit Debout hat sich in erster Linie das Ziel gesetzt, einen Raum zur Vernetzung der Kämpfe zu schaffen. Diese Vernetzung könnte noch viel weiter gehen, und sich auf internationaler Ebene hörbar machen. Es existieren bereits Brückenschläge zwischen den zahlreichen Bewegungen, die sich weltweit gegen Prekarität, Diktat der Finanzmärkte, Umweltzerstörung, Kriege, Militarismus und gegen die Erniedrigung unserer Lebensbedingungen einsetzten! Der Konkurrenz und dem Egoismus setzten wir Solidarität und gemeinsame Praxis entgegen. Unsere Unterschiede sind nicht mehr Ursache von Spaltungen, sondern Grundlage gegenseitiger Ergänzung und Quelle unserer kollektiven Kraft! Wir, diejenigen die sich ohnmächtig und nicht repräsentiert fühlen, werden gemeinsam das Wort ergreifen, und uns den öffentlichen Raum wieder nehmen: wir werden Politik machen, da sie eine Angelegenheit aller ist! Heute ist es nicht mehr an der Zeit sich einzeln zu empören, sondern gemeinsam zu handeln! Wir, die 99% haben die nötige Kraft, um die 1% und ihre Welt endgültig aus unseren Städten, unseren Arbeitsplätzen und unser Leben zu verdrängen! Lasst uns am 7. Und 8. Mai auf Place de la Republique zusammenströmen! Das Woch
    </p>
    <p>
    enende vom 15. Mai werden wir uns gemeinsam erheben: #NuitDebout partout, #GlobalDebout!
    </p>
    </div>
  </div>
</div>


{{> footer}}