{{> header navbar_class="navbar"}}
<h1 class="center">Internationaler Aufruf von #NuitDebout 
 Wir rufen auf zu einem #GlobalDebout Tag der Aktion am 15. Mai 2016</h1>
<div class="international-banner"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
    <p>
       

Zwei Wochen nach der Großmobilisierung des 31. März wächst Nuit Debout unermüdlich. In zahlreichen französischen Städten und im Ausland entstehen Nuit Debout, und bezeugen gemeinsame Hoffnungen und Kämpfe. All diejenigen die auf den besetzten Plätzen waren, und somit Teil von Nuit Debout wurden, wissen es: es passiert etwas! 
 
Einwohner dieser Erde, lasst uns die Grenzen zum Fallen bringen und einen neuen globalen Frühling gestalten! Kommt am 7. und 8. Mai nach Paris zur Place de la Republique, um uns kennenzulernen, zu diskutieren, um Erfahrungen und Knowhow auszutauschen, und um gemeinsame Perspektiven und Pläne zu schaffen. Und vor allem um das große internationale Aktionswochenende des 15. Mai vorzubereiten, an dem wir massiv öffentliche Plätze auf der ganzen Welt besetzen werden! 
Nuit Debout hat sich in erster Linie das Ziel gesetzt, einen Raum zur Vernetzung der Proteste zu schaffen. Diese Vernetzung könnte noch viel weiter gehen, und sich auf internationaler Ebene hörbar machen. Es existieren bereits Brückenschläge zwischen den zahlreichen Bewegungen, die sich weltweit gegen soziale Unsicherheit, Diktat der Finanzmärkte, Umweltzerstörung, Kriege, Militarismus und gegen die Verschlechterung unserer Lebensbedingungen einsetzten! 
 
Der Konkurrenz und dem Egoismus setzten wir Solidarität und gemeinsame Praxis entgegen. Unsere Unterschiede sind nicht mehr Ursache von Spaltungen, sondern Grundlage gegenseitiger Ergänzung und Quelle unserer kollektiven Kraft! Wir, diejenigen die sich ohnmächtig und nicht repräsentiert fühlen, werden gemeinsam das Wort ergreifen, und uns den öffentlichen Raum wieder nehmen: wir werden Politik machen, da sie eine Angelegenheit aller ist! 
 
Heute wollen wir uns nicht mehr einzeln empören, sondern es ist an der Zeit gemeinsam zu handeln! Wir, die 99% haben die nötige Kraft, um die 1% und ihre Welt endgültig aus unseren Städten, unseren Arbeitsplätzen und unserem Leben zu verdrängen! 
 
Lasst uns am 7. und 8. Mai auf der Place de la Republique zusammenströmen! 
 
Am Wochenende vom 15. Mai werden wir uns gemeinsam erheben: 
#NuitDebout partout, #GlobalDebout!
    </p>
    </div>
    <div class="col s12">
      <div class="center-block">
        <h3>more infos:</h3>
        <p>
        <a href="http://twitter.com/GlobalDebout">http://twitter.com/GlobalDebout</a>
        </p>

         <p>
        <a href="https://www.facebook.com/events/254751298208004/">https://www.facebook.com/events/254751298208004/</a>
      </p>


      <p>
        <a href="mailto:intnuitdebout@riseup.net">intnuitdebout@riseup.net</a>
      </p>
      </div>
  </div>
</div>


{{> footer}}