{{> header navbar_class="navbar"}}
<h1 class="center">INTERNATIONAL CALL BY #NUITDEBOUT</h1>
<div class="international-banner"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
		<p>
		WE CALL FOR A #GLOBALDEBOUT DAY OF ACTION ON THE 15 OF MAY, 2016
		</p>
		<p>
		We call on peoples movements across the world to mobilise for justice and  real democracy on the 15 of May, 2016 for a #GLOBALDEBOUT.  We invite you to come to Paris for an International Gathering of movements  at Place de la Republic on May 7 and 8.
		</p>
		<p>
		Today #46mars (April 15) is just two weeks after one million people mobilized in Paris and the movement Nuit Debout continues to grow. In numerous  French and foreign cities,  #Nuitdebout (Night on our Feet) is a  light in the dark,  it gives testimony to our hopes, dreams and common rebellions. Those who have  taken the squares in the past and those who are taking them NOW:  we know something is happening.
		</p>
		<p>
		The struggle for a better world is Global and without boarders, let's construct together a global spring of resistance! Join to us on May 7th and 8th in Paris at Place de Republique to debate,  to share our experiences and to begin to construct together common solutions. There we will strategise and prepare for an International day of Action on MAY 15th (#76mars). On this date we will occupy,  mobilise and take direct action together across the world.
		</p>
		<p>
		Nuit  Debout's  first aim is to create a space for the 'convergence of stuggles'. We hope this convergence will go beyond France and spread worldwide. There exist numerous links between social movements in all four corners of the world; from unemployment to the imposition  of the financial markets, from the destruction of the environment to war and unacceptable inequality.
		</p>
		<p>
		In repsonse to a system based on competition and individualism, we answer with the solidarity, participatory democracy and collective action. Our differences are not a  source of divisions, but rather our strength, as we complement each other struggles.  We are neither listened nor represented by the current economic system.
		</p>
		<p>
		Together  we retake public  space and politics because politics is a matter of all of us. Now is not the moment retreat, but to come together for change.
		</p>
		<p>
		We  are the 99 % and we are here to reject the financial and poltical rule of the 1 % and their world.  We are here to take back our cities, our places of work and our lives.
		</p>
		<p>
		On May 7th and 8th, let's come together to Paris to the square of the Republic!
		</p>
		<p>
		On the day of May 15 we will rise up together for a global day of action.
		</p>
		<p>
		#NuitDebout everywhere!
		#GlobalDebout!
		</p>

		</div>
		<div class="col s12">
	      <div class="center-block">
	        <h3>more infos:</h3>
	        <p>
	        <a href="http://twitter.com/GlobalDebout">http://twitter.com/GlobalDebout</a>
	        </p>

	         <p>
	        <a href="https://www.facebook.com/events/254751298208004/">https://www.facebook.com/events/254751298208004/</a>
	      </p>


	      <p>
	        <a href="mailto:intnuitdebout@riseup.net">intnuitdebout@riseup.net</a>
	      </p>
      </div>
  </div>
</div>


{{> footer}}