{{> header navbar_class="navbar"}}

<div class="container">
  <div class="row">
    <div class="col s12">
LLAMADA INTERNACIONAL DE #NUITDEBOUT

REUNION INTERNACIONAL EN PARÍS EL 7 Y 8 DE MAYO DE 2016 POR
#NUITDEBOUT A TRAVES DE #GLOBALDEBOUT el 15 de mayo de 2016

El  #46mars (15 de abril), dos semanas después de la gran movilización del  31 de marzo en París, el movimiento Nuit Debout no deja de extenderse.  En numerosas ciudades francesas y extranjeras, las #NocheEnPie ven la  luz y dan testimonio de esperanzas y rebeliones comunes. Los que han  pasado por las plazas ocupadas y los que están participando en ellas lo  saben bien: algo está pasando.

¡Habitantes  del mundo entero, hagamos derribar las fronteras y construyamos juntos  una nueva primavera global! Únete a nosotros los próximos 7 y 8 de mayo  en París, en la plaza de la República, para encontrarnos, debatir,  compartir nuestras experiencias y nuestras habilidades públicas, y  comenzar a construir juntos perspectivas y soluciones comunes. Y  sobre  todo, preparemos y lancemos juntos una gran acción internacional el 15 de mayo (#76mars) para ocupar masivamente las  plazas  en todo el mundo en esta fecha.

 #NocheEnPie  se fijó como primer objetivo la creación de un espacio de convergencia  de luchas. Esta convergencia podría ir todavía más lejos y extenderse a  nivel internacional. Existen lazos entre los numerosos movimientos que  se oponen en  las cuatro esquinas del mundo a la precaridad, a la  imposición de los mercados financieros, a la destrucción del entorno, en  las guerras y al  militarismo, a la degradación de nuestras condiciones  de vida.

A  la competencia y al egoísmo, respondemos con la solidaridad, la  reflexión y la acción colectiva. Nuestras diferencias no son fuente de  divisiones, sino la base de nuestra complementariedad y de nuestra  fuerza común. Ni escuchados ni representados, nosotros, personas de toda  condición, nos reapropiamos juntos de la palabra y del espacio público:  hacemos política, porque es asunto de todas.

Hoy ya no es el momento de indignarse en solitario en una esquina, sino de actuar todas juntas. Nosotras,  el 99 %, tenemos la capacidad de actuar y de rechazar definitivamente a  los del 1 % y su mundo, para desalojarlos de nuestras ciudades, de  nuestros lugares de trabajo, de nuestras vidas.

¡El 7 y 8 de mayo, acudamos juntos a París, a la plaza de la República!

El 15 de mayo rebelémonos juntos:
#NuitDebout en todas partes,
#GlobalDebout!

</div>
  </div>
</div>


{{> footer}}