{{> header navbar_class="navbar"}}
<h1 class="center">APPEL INTERNATIONAL DE #NUITDEBOUT</h1>
<div class="international-banner"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h5>APPEL INTERNATIONAL DE #NUITDEBOUT A CONVERGER A PARIS LES 7 ET 8 MAI 2016 POUR UNE #NUITDEBOUTPARTOUT (#GLOBALDEBOUT) LE 15 MAI 2016</h5>

      <p>
        Le #46mars (15 avril), deux semaines après la grande mobilisation du 31 mars à Paris, le mouvement Nuit Debout ne cesse de s'étendre. Dans de nombreuses villes françaises et étrangères, des Nuits Debout voient le jour et témoignent d'espoirs et de révoltes communes. Tous ceux qui sont passés sur les places occupées et qui y participent le savent bien : il se passe quelque chose.
      </p>
      <p>
        Habitants du monde entier, faisons tomber les frontières et construisons ensemble un nouveau printemps global ! Venez nous rejoindre les 7 et 8 mai prochains à Paris, place de la République, pour se rencontrer, débattre, partager nos expériences et nos savoir-faire, et commencer à construire ensemble perspectives et solutions communes. Et surtout, préparons et lançons ensemble une grande action internationale le 15 Mai (#76 Mars) pour occuper massivement les places publiques partout dans le monde à cette date.
      </p>
      <p>
        Nuit Debout s'est fixé comme objectif premier la création d'un espace de convergence des luttes. Cette convergence pourrait aller encore plus loin et s'entendre à un niveau international. Des liens existent entre les nombreux mouvements qui s'opposent aux quatre coins du monde à la précarité, au diktat des marchés financiers, à la destruction de l'environnement, aux guerres et au militarisme, à la dégradation de nos conditions de vie.
      </p>
      <p>
        A la compétition et l’égoïsme, nous répondons par la solidarité, la réflexion et l'action collective. Nos différences ne sont plus source de divisions, mais la base de notre complémentarité et de notre force commune. Ni entendus ni représentés, nous, personnes de tous horizons, nous nous réapproprions ensemble la parole et l’espace public : nous faisons de la politique, car elle est l’affaire de tous.
      </p>
      <p>
        Aujourd'hui n’est plus le moment de s’indigner seul dans son coin, mais d'agir tous ensemble. Nous, les 99%, nous avons la capacité d'agir et de repousser définitivement les 1% et leur monde, pour les déloger de nos villes, de nos lieux de travail, de nos vies.
        Les 7 et 8 Mai, convergeons ensemble à Paris place de la République !
        Le 15 Mai soulevons-nous ensemble : #NuitDebout partout, #GlobalDebout !
      </p>

    </div>
    <div class="col s12">
      <div class="center-block">
        <h3>more infos:</h3>
        <p>
        <a href="http://twitter.com/GlobalDebout">http://twitter.com/GlobalDebout</a>
        </p>

         <p>
        <a href="https://www.facebook.com/events/254751298208004/">https://www.facebook.com/events/254751298208004/</a>
      </p>


      <p>
        <a href="mailto:intnuitdebout@riseup.net">intnuitdebout@riseup.net</a>
      </p>
      </div>
  </div>
</div>


{{> footer}}