{{> header navbar_class="navbar"}}
<h1 class="center"> #NUITDEBOUT-I MIDJAZGAYIN UGHÉRTS
BOLORE DÉPI PARIZ 2016-I MAYISI 7IN YÉV 8IN HANUN #NUITDEBOUTPARTOUT (#GLOBALDEBOUT 2016 TVAKANI MAYISI 15-IN)</h1>
<div class="international-banner"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
    <p>Aprili 15-in (#46mars), marti 31-i méts mobilizatsiayits 2 shabat héto, Nuit Debout (Gishére Votqi) sharjume chi datarum gnalov él avéli laynatsaval darnal : Franciayi yév artyérkri bazmativ qaraqnérum, ashkharh én galis Gishére Votqi-nér yév vkayum én myasnakan huysére yév embostutyunnére : Bolor nranq ovqér ardén yéghél én okupatsvats hraparaknérum yév masnaktsél én, lav gitén hétévyali masin. Inch vor mi ban téghi é unénum :

Amboghj ashkharhi mardik, yékéq sahmannére qandénq yév karutsénq myasin mi nor global garun : Yékéq Pariz, Hanrapétutyan hraparak méz mianalu mayisi 7in yév 8in, vorpészi irar handipénq, qnnarkénq, mér pordzére yév imatsutyunnére kisénq, u sksénq karutsél miasin endhanur lutsumnér yév hérankarnér : Yév karévore, miasin patrasténq yév sksénq méts midjazgayin aktsia mayisi 15in (#76 Mars) okyupatsnélov hanrayin hraparaknére ashkharhum aménur :

Gishére Votqi-n ir ardjév aradjnayin npatak é drél payqarnéri hamar stéghtsél irar motétsogh endhanur taratsq : Ayd mérdzétsume karogh é avéli héru gnal yév taratsvél amboghj ashkharhum : Ardén kapér kan ashkharhi chors tsayréri bazmativ ayn sharjumnéri midjév voronq endimanum én akhqatutyane, finansakan shukanéri diktatin, mérdzaka midjavayri avirmane, patérazmnérin u razmakanutyane, mér aprélu paymannéri qayqaymane :

Mrtsaktsutyane yév égoizmin, ménq patasxanum énq pokhognutyamb, mtatsélov yév miasnakan gortsoghutyamb : Mér tarbérutyunnére aylévs bajanumnéri aghbyur chén, ayl himqn én mér komplémentarutyan yév miasnakan uji : Ménq, chlsvatsnérs yév chnérkayatsvatsnérs, bolor horizonnéri mardik, véragtnum énq hanrayin khosqn u taratsqe. ménq qaghaqakanutyamb énq zbaghvum, ayo, vorovhétév ayn bolori gortsn é.

Aysor, aylévs amén méks mér ankyunum myaynak embostanalu jamanake ché, ayl bolors miasin ! Ménq, aysinqn 99% mardik, unak énq anélun u 1%-in yév nrants ashkharhe hét mghélun, nrants mér qaghaqnérits, ashkhatavayrérits u kyanqérits durs hanélun :

Mayisi 7-in u 8-in, bolors Pariz, Hanrapétutyan Hraparak :

Mayisi 15-in, bolors myasin votqi ! #NuitDebout , aménuiréq #GlobalDebout
    </p>
    </div>
    <div class="col s12">
      <div class="center-block">
        <h3>more infos:</h3>
        <p>
        <a href="http://twitter.com/GlobalDebout">http://twitter.com/GlobalDebout</a>
        </p>

         <p>
        <a href="https://www.facebook.com/events/254751298208004/">https://www.facebook.com/events/254751298208004/</a>
      </p>


      <p>
        <a href="mailto:intnuitdebout@riseup.net">intnuitdebout@riseup.net</a>
      </p>
      </div>
  </div>
</div>


{{> footer}}