{{> header navbar_class="navbar"}}
<h1 class="center">APPELLO INTERNAZIONALE DI #NUITDEBOUT</h1>
<div class="international-banner"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
    <p>
    PER UN INCONTRO A PARIGI IL 7 E 8 MAGGIO 2016 E UNA #NUITDEBOUT GLOBALE (#GLOBALDEBOUT) il 15 maggio 2016
    </p>
    <p>
    Il #46marzo (15 aprile), due settimane dopo la grande mobilitazione del 31 marzo a Parigi, il movimento Nuit Debout non smette di diffondersi. In numerose città francesi e europee, le Nuit Debout esplodono e riflettono speranze e rivolte comuni. Tutti quelli che hanno attraversato le piazze occupate e hanno partecipato lo sanno bene : sta succedendo qualcosa.
    </p>
    <p>
    Abitanti del mondo intero facciamo cadere le frontiere e costruiamo insieme una nuova primavera globale ! Incontriamoci il 7 e 8 maggio prossimi a Parigi, in Place de la République, per dibattere, condividere pratiche e esperienze, e cominciare a costruire insieme nuove prospettive e soluzioni comuni. Ma soprattutto prepariamoci e lanciamo insieme una grande azione internazionale il 15 maggio (#76mars) per occupare massicciamente le piazze ovunque in quella data.
    </p>
    <p>
    Nuit Debout ha fissato come primo obiettivo la creazione di uno spazio di convergenze delle lotte. Questa convergenza può andare ancora più lontano e estendersi su un piano internazionale. Esistono già dei legami tra i numerosi movimenti che ai quattro angoli del mondo si oppongono alla precarietà, ai diktat dei mercati finanziari, alla distruzione dell'ambiente, alle guerre e al militarismo, al degrado delle nostre condizioni di vita.
    </p>
    <p>
    Alla competizione e all'egoismo rispondiamo con la solidarietà, la riflessione e l'azione collettiva. Le nostre differenze non sono più fonte di divisioni, ma la base della nostra complementarità e della nostra forza comune. Inascoltati e non rappresentati, noi, persone con storie diverse, ci riappropriamo insieme della parola e dello spazio pubblico: facciamo politica perchè è una cosa che riguarda tutti.
    </p>
    <p>
    Oggi non è più il momento di indignarsi soli nel proprio angolino, ma è il momento di agire tutti insieme. Noi, il 99%, abbiamo la capacità di agire e respingere definitivamente l'1% e il loro mondo dalle nostre città, dai nostri luoghi di lavoro, dalle nostre vite.
    </p>
    <p>
    Il 7 e 8 maggio, convergiamo a Parigi a place de la République !
    </p>
    <p>
    Il 15 Maggio solleviamoci insieme: #NuitDebout ovunque, #GlobalDebout !
    </p>
    </div>
  </div>
</div>


{{> footer}}