{{> header navbar_class="navbar"}}
<h1 class="center">МЕЂУНАРОДНИ ПОЗИВ #NUITDEBOUT
</h1>
<div class="international-banner"></div>
<div class="container">
  <div class="row">
    <div class="col s12">
    <p>МЕЂУНАРОДНИ ПОЗИВ #NUITDEBOUT


HА САРАДЊУ У ПАРИЗУ 7. И  8. MAJA 2016
HA #NUITDEBOUTPARTOUT (#GLOBALDEBOUT) 15. MAJA 2016

#46mapta (15. априла), две недеље након мобилизације започете 31-og ог марта у Паризу, покрет Nuit Debout не престаје да се шири. У многим градовима широм Француске и у иностранству, Nuit Debout се стварају и указују на заједничку одлучност и борбу. Cви који су већ прошли покрај окупираних тргова и који учествују знају добро да се нешто догађа. 

Mештани широм света, срушимо границе и направимо заједно ново глобално пролеће! Придружите нам се 7. и 8. маја у Паризу, на тргу Републике, да се упознамо, да разменимо мишљења и да поделимо искуства и знање, а и да почнемо градити заједно нове перспективе и решења. Преко свега, спремимо се и покренимо заједно велику међународну акцију заказану за 15. мај (#76март) не би ли смо заузели масовно јавне тргове широм света на том дану.

Nuit Debout има циљ да створи место где би се борбе спојиле. Тај би спој требао да се настави и да се покрене на међународном нивоу. Везе већ постоје између различитих покрета који широм света устају против несигурности, диктата финансијских тржишта, рушења околине, ратова и милитаризацији, другачије речено против рушења наших живота.

Против конкуренције и егоизма, одговарамо солидарношћом, размишљањем и колективном акцијом. Наше разлике нису извор сукоба, већ представљају темељ наше комплементарности и наше заједничке снаге. Ми, који нити смо слушани нити представљени, ми који долазимо из различитих средина: на нама је да поново присвојимо глас у јавности и јавни простор. Бавимо се политиком, јер је то ствар свих нас.

Данас није време да се буни свако у свом ћошку, него да реагујемо сви заједно. Ми, оних 99% имамо капацитет да утичемо и да се дефинитивно отерасимо оних 1% и њиховог света, како бисмо успели да их избацимо из наших градова, наших радних места и наших живота.

7. и 8. маја, окупимо се у Паризу на тргу Републике ! 
15. маја устанимо заједно: #NuitDebout свугде, #GlobalDebout ! 
    </p>
    </div>
    <div class="col s12">
      <div class="center-block">
        <h3>more infos:</h3>
        <p>
        <a href="http://twitter.com/GlobalDebout">http://twitter.com/GlobalDebout</a>
        </p>

         <p>
        <a href="https://www.facebook.com/events/254751298208004/">https://www.facebook.com/events/254751298208004/</a>
      </p>


      <p>
        <a href="mailto:intnuitdebout@riseup.net">intnuitdebout@riseup.net</a>
      </p>
      </div>
  </div>
</div>


{{> footer}}