{{> header navbar_class="navbar-fixed"}}

        <div class="section no-pad-bot valign-wrapper nd_header">
          <div class="nd_header__img"> </div>
          <div class="container white-text valign" style="z-index: 2">

            <h1 class="header center  nd_brand white-text
            nd_header__cta"><img class="nd_header__brand" src="/img/logowhite.svg" alt="Nuit Debout"></h1>
            <h4 class="nd_header__quote header white-text">
              <small></small>
            </h4>
            <div class="row center">
              <a href="http://petition.nuitdebout.fr" class="btn-large waves-effect waves-light indigo">Signer la pétition</a>
            </div>
          </div>

          <a class="nd_header__radio_link  hide-on-small-only" alt="radio debout" href="#radio"><img src="/img/svg/radio.svg" style="width:100%;height:100%;"></a>
        </div>


        <div id="header" class="section">
          <div class="container center">

            <img src="/img/svg/manifesto.svg" class="hide-on-med-and-up" style="height: 50px;">

            <h2 class="center nd_brand">
              <img src="/img/svg/manifesto.svg" class="hide-on-small-only" style="height: 50px;">
              Manifeste
              <img src="/img/svg/manifesto.svg" class="hide-on-small-only" style="height: 50px; transform: rotateY(180deg);">
            </h2>

            <div class="border-text">
              <p> <strong>Sais-­tu ce qui se passe là ? </strong> Des milliers de personnes se réunissent Place de la République à Paris, et dans toute la France, depuis le 31 mars. Des assemblées se forment où les gens discutent et échangent. Chacun se réapproprie la parole et l’espace public.</p>

              <p>Ni entendues ni représentées, des personnes de tous horizons reprennent possession de la réflexion sur l’avenir de notre monde. La politique n’est pas une affaire de professionnels, <strong>c’est l’affaire de tous</strong>. L’humain devrait être au cœur des préoccupations de nos dirigeants. Les intérêts particuliers ont pris le pas sur l’intérêt général.</p>

              <p><strong>Chaque jour, nous sommes des milliers à occuper l’espace public pour reprendre notre place dans la République.</strong> Venez nous rejoindre, et décidons ensemble de notre devenir commun.</p>
            </div>

          </div>
        </div>

        <div id="calendar" class="section">
          <h2 class="center nd_brand">Programme</h2>
          <div class="container nd_calendar">

            <div class="row">

              <div class="col s12 m6">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title"><span class="chip blue darken-4 white-text">#47 Mars</span> Samedi 16 avril</h4>
                    <dl>
                      <dt>10h00</dt><dd>action commission logement</dd>
                      <dt>11h00</dt><dd>commission Prison: départ pour rassemblement à Fleury-Mérogis - devant statue du Lion</dd>
                      <dt>13h00-19h00</dt><dd>Université populaire</dd>
                      <dt>14h00</dt><dd>Réunion commission Action</dd>
                      <dt>14h00</dt><dd>commission Féministe: atelier auto-défense (non-mixte) suivi d'un atelier de déconstruction des</dd>
                      comportements machistes (mixte) (au sein de la journée thématique Lutte contre le harcèlement et les
                      agressions sexistes)
                      <dt>15h00</dt><dd>Réunion commission Droits Humains</dd>
                      <dt>16h00</dt><dd>Réunion commission Migrants</dd>
                      <dt>16h00</dt><dd>Réunion commission Démocratie et Assemblée Générale</dd>
                      <dt>16h00</dt><dd>Réunion commission Climat</dd>
                      16h00 ; Permanence commission Logement
                      <dt>16h00</dt><dd>Nuit Debout à Achères - 37 avenue de Stalingard à la librairie Neverland</dd>
                      <dt>16h00-19h00</dt><dd>Forum des commissions</dd>
                      <dt>16h00</dt><dd>Réunion commission Anti-pub - au bout de la place côté bd Voltaire</dd>
                      <dt>17h00</dt><dd>Nuit Debout à Aubervilliers – place de la mairie</dd>
                      <dt>17h00</dt><dd>Formation self-défense – au bout de la place côté bd Voltaire</dd>
                      <dt>17h00</dt><dd>Réunion commission Logement</dd>
                      <dt>17h30</dt><dd>Réunion commission Féministe – non mixte (femmes et trans bienvenu.e.s)</dd>
                      <dt>18h00</dt><dd>Assemblée populaire</dd>
                      <dt>17h30</dt><dd>Réunion commission Économie</dd>
                      <dt>18h00</dt><dd>Assemblée populaire</dd>
                      <dt>18h00</dt><dd>Réunion commission Manifeste</dd>
                      <dt>18h00</dt><dd>BiblioDebout bibliothèque participative</dd>
                      <dt>19h</dt><dd>Réunion commission Animation – derrière le kiosque rouge</dd>
                      <dt>19h00-00h00</dt><dd>Open mic contre le contrôle au faciès</dd>
                      <dt>20h00</dt><dd>Réunion commission Féministe – mixte</dd>
                      <dt>20h00</dt><dd>Réunion commission Campement</dd>
                      <dt>21h00</dt><dd>Réunion commission Perspectives et projets devant l'entrée du métro</dd>
                      <dt>21h30</dt><dd>Réunion commission LGBT</dd>
                    </dl>
                  </div>
                </div>
              </div>

              <div class="col s12 m6">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title"><span class="chip blue darken-4 white-text">#48 Mars</span> Dimanche 17 avril</h4>
                    <dl>
                      <dt>11h00-18h00</dt><dd>Journée thématique « Agir aujourd'hui pour demain" autour du film Demain<br>
                          le Village de Demain<br>
                          Quartier ECONOMIE :<br>
                          - Atelier et stand sur la monnaie locale<br>
                          - jeu de rôle sur la monnaie locale<br>
                          - jeu éprouvette de valeurs<br>
                          - atelier revenu de base salaire à vie<br>
                          Quartier ECOLOGIE :<br>
                          - Création de jardins, potager et banque de graines<br>
                          - Disco soupe<br>
                          - Débat sur le réchauffement climatique<br>
                          - Atelier tri des déchets<br>
                          Quartier DEMOCRATIE :<br>
                          - Atelier constituant<br>
                          - Atelier tirage au sort<br>
                          - Atelier hacking<br>
                          - Atelier processus de vote<br>
                          Quartier EDUCATION :<br>
                          - Atelier groupe de travail « repenser l’éducation »<br>
                          - Atelier « réaction croquis éducatif »<br>
                          - Atelier « éducation populaire »<br>
                          - Atelier dessin pour enfants</dd>
                      <dt>13h00/19h00</dt><dd>Université populaire</dd>
                      <dt>14h00-17h00</dt><dd>Conférence « Economie, Energie, Education, Agriculture, Démocratie: les alternatives</dd>
                      existent déjà ! »
                      <dt>14h00</dt><dd>Réunion commission Action</dd>
                      <dt>14h30</dt><dd>commission Féministe: Sexualités et plaisir (non-mixte) (au sein de la journée thématique sexualité et</dd>
                      plaisir féminin)
                      <dt>15h00</dt><dd>commission Logement: débat avec JP Garnier sur la spéculation et la lutte des quartiers populaires</dd>
                      <dt>15h00</dt><dd>commission Numérique: formation wiki.nuitdebout.fr hackingdebout-pedagogie@lists.riseup.net</dd>
                      <dt>16h00</dt><dd>Réunion commission Démocratie et Assemblée Générale</dd>
                      <dt>16h00</dt><dd>Réunion commission Coordination</dd>
                      <dt>16h00</dt><dd>Réunion commission Mutualisation initiatives banlieues et quartiers populaires</dd>
                      <dt>16h00</dt><dd>Réunion commission numérique</dd>
                      <dt>16h00</dt><dd>Réunion commission Jury citoyen</dd>
                      <dt>16h00</dt><dd>Réunion commission Climat</dd>
                      16h00 ; Permanence commission Logement
                      <dt>16h30</dt><dd>commission Féministe: Comment lutter contre les mutilations génitales sur nos enfants? (mixte) (au</dd>
                      sein de la journée thématique sexualité et plaisir féminin)
                      <dt>17h30</dt><dd>Réunion commission Féministe – non mixte (femmes et trans bienvenu.e.s)</dd>
                      <dt>17h30</dt><dd>Réunion commission Économie</dd>
                      <dt>18h00–21h00</dt><dd>Assemblée Populaire sur le thème « Agir aujourd’hui pour demain »</dd>
                      <dt>18h00</dt><dd>Nuit Debout à Ivry - place Voltaire</dd>
                      <dt>18h00</dt><dd>BiblioDebout bibliothèque participative</dd>
                      <dt>18h00</dt><dd>Réunion commission Manifeste</dd>
                      <dt>19h00</dt><dd>Nuit Debout à Bobigny – place Y Arafat- I. Rabin</dd>
                      <dt>19h</dt><dd>Réunion commission Animation – derrière le kiosque rouge</dd>
                      <dt>20h00</dt><dd>Réunion commission Féministe – mixte</dd>
                      <dt>20h00</dt><dd>Réunion commission Campement</dd>
                      <dt>21h00</dt><dd>Projection du film Demain de Cyril Dion et Mélanie Laurent</dd>
                      <dt>21h00</dt><dd>Réunion commission Perspectives et projets devant l'entrée du métro</dd>
                      <dt>21h30</dt><dd>Réunion commission LGBT</dd>
                    </dl>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="col s12 m6">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title"><span class="chip blue darken-4 white-text">#49 Mars</span> Lundi 18 avril</h4>
                    <dl>
                      <dt>13h00/19h00</dt><dd>Université populaire</dd>
                      <dt>14h00</dt><dd>Réunion commission Action</dd>
                      <dt>16h00</dt><dd>Réunion commission Démocratie et Assemblée Générale</dd>
                      <dt>16h00</dt><dd>Réunion commission Climat</dd>
                      16h00 ; Permanence commission Logement
                      <dt>17h30</dt><dd>Réunion commission Féministe – non mixte (femmes et trans bienvenu.e.s)</dd>
                      <dt>17h30</dt><dd>Réunion commission Économie</dd>
                      <dt>18h00</dt><dd>Assemblée Populaire</dd>
                      <dt>18h00</dt><dd>Réunion commission Manifeste</dd>
                      <dt>18h00</dt><dd>BiblioDebout bibliothèque participative</dd>
                      <dt>18h00</dt><dd>commission Logement: rassemblement de soutien aux habitants victimes de l'assaut du raid en</dd>
                      novembre dernier a Saint-Denis - devant l'immeuble au 48 rue de la République a Saint-Denis.
                      <dt>Soirée</dt><dd>Assemblée Générale des intermittent.e.s et précaires Théâtre de la Ville, Châtelet</dd>
                      <dt>19h</dt><dd>Réunion commission Animation – derrière le kiosque rouge</dd>
                      <dt>20h00</dt><dd>Réunion commission Féministe – mixte</dd>
                      <dt>20h00</dt><dd>Réunion commission Campement</dd>
                      <dt>21h00</dt><dd>Réunion commission Perspectives et projets devant l'entrée du métro</dd>
                      <dt>21h30</dt><dd>Réunion commission LGBT</dd>
                      <dt>21h30</dt><dd>Projections des films :
                        <ul>
                          <li><i>Rien à foutre</i> de Nina Faure</li>
                          <li><i>Dans la boîte</i> de Nina Faure</li>
                          <li><i>Hollande, DSK etc.</i> de Julien Brygo, Pierre Carles, Nina Faure et Aurore Van Opstal</li>
                        </ul>
                        Suivies d'un débats avec les réalisateurs et réalisatrices
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>

              <div class="col s12 m6">
                <div class="card">
                  <div class="card-content">
                    <h4 class="card-title"><span class="chip blue darken-4 white-text">#51 Mars</span> Mercredi 20 avril</h4>
                    <dl>
                      <dt></dt><dd>Soir : Symphonie du Nouveau Monde par les orchestres du coin</dd>
                    </dl>
                  </div>
                </div>
              </div>

            </div>

            </div>
          </div>
        </div>



        <div id="tweetstream" class="blue darken-2 white-text">
          <div class="row">
            <div class="col m1 s12">
              <img src="/img/svg/tweet.svg" class="nd_tweetstream__img">
            </div>
            <p class="center col s12 m10" style="margin-bottom:10px">

              <span class="nd_tweet_feed"></span>
            </p>
            <div class="col m1 hide-on-small-only ">
              <img src="/img/svg/tweet.svg" class="nd_tweetstream__img reverse">
            </div>
          </div>
        </div>



        <div id="livestream" class="section">
          <h2 class="center nd_brand">Le live</h2>
        </div>

        <div id="news" class="section">

          <div class="container">
            <h2 class="center nd_brand">Les dernières actus</h2>
            <div class="row">
              <div class="col s12 m4">
                <a href="" target="_blank">
                  <div class="card small hoverable">
                    <div class="card-image">
                    </div>
                    <div class="card-content">
                      <p></p>
                    </div>

                  </div>
                </a>
              </div>
              <div class="col s12 m4">
                <a href="" target="_blank">
                  <div class="card small hoverable">
                    <div class="card-image">
                    </div>
                    <div class="card-content">
                      <p></p>
                    </div>

                  </div>
                </a>
              </div>
              <div class="col s12 m4">
                <a href="" target="_blank">
                  <div class="card small hoverable">
                    <div class="card-image">
                    </div>
                    <div class="card-content">
                      <p></p>
                    </div>

                  </div>
                </a>

              </div>
            </div>
            <div class="row">
              <div class="col s12 m4">
                <a href="" target="_blank">
                  <div class="card small hoverable">
                    <div class="card-image">
                    </div>
                    <div class="card-content">
                      <p></p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col s12 m4">
                <a href="" target="_blank">
                  <div class="card small hoverable">
                    <div class="card-image">
                    </div>
                    <div class="card-content">
                      <p></p>
                    </div>

                  </div>
                </a>
              </div>
              <div class="col s12 m4">
                <a href="" target="_blank">
                  <div class="card small hoverable">
                    <div class="card-image">
                    </div>
                    <div class="card-content">
                      <p></p>
                    </div>

                  </div>
                </a>
              </div>


            </div>

          </div>
        </div>


        <div id="participate" class="section">
          <div class="container">
            <h2 class="center nd_brand">
              Comment participer ?
            </h2>


            <p> Chaque jour, nous nous retrouvons place de la République à Paris, et partout en France. De là, pleins de choses sont possibles.</p>
            <div class="row">
              <div class="col s12 m6 l4">
                <div class="card small">
                  <div class="card-image blue lighten-3 waves-effect waves-block waves-light">
                    <div class="activator center"><img src="/img/svg/ag.svg" class="activator"style="height: 200px; width:200px; margin: 10px; display: inline-block;">
                    </div>
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">L'Assemblée Populaire</span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">L'Assemblée Populaire<i class="material-icons right">close</i></span>
                    <p>Chaque jour, à <strong> 18h </strong>, l'assemblée générale se rassemble. C'est le moment fort de la journée, ou notre rassemblement prends son sens. On vote les décisions importantes du mouvement, on débat, on échange les points de vue. Chacun peut venir s'exprimer, dans l'écoute de tous.</p>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card small">
                  <div class="card-image blue lighten-3  waves-effect waves-block waves-light">
                    <div class="activator center">
                      <img src="/img/svg/orga.svg" class="activator" style="height: 200px; width:150px; margin: 10px; display: inline-block;">
                    </div>
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Aider sur l'operationnel</span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Operationnel<i class="material-icons right">close</i></span>
                    Vous pouvez venir chaque jour proposer votre aide au <strong>stand accueil</strong>. Il y a toujours des choses à faire, surtout si vous venez tôt. Vous pouvez aussi laisser votre contact avec vos disponibilité et vos compétences.
                    Enfin, nous avons toujours besoin de ressources pour le campement. N'hésitez pas à passer au <strong>stand logistique</strong> pour avoir plus d'infos.
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l4">
                <div class="card small">
                  <div class="card-image blue lighten-3  waves-effect waves-block waves-light">
                    <div class="activator center">
                      <img src="/img/svg/commission.svg"  class="activator" style="height: 200px; width:250px; margin: 10px; display: inline-block;">
                    </div>
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Participer aux commissions</span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Commissions<i class="material-icons right">close</i></span>
                    Chaque jour, des atelier, commissions, espaces de discussions se créent autour de thème. N'hésitez pas à venir participer à l'invention du futur avec nous !
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <h5 class="center nd_brand">Envie de participer ? Envie de s'organiser ?</h5>
              <p class="center">Retrouvez les informations de votre ville.</p>
              <div class="col s12 cities-chips">
              {{#each cities}}
                 <div class="chip">
                    <a href="{{this.uri}}">{{this.name}}</a>
                  </div>
              {{/each}}
              </div>
            </div>
          </div>
        </div>
        <div id="radio" class="section">
          <iframe src="https://mixlr.com/radiodebout/embed" width="100%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <div class="section" id="assembly">
          <h2 class="center nd_brand">Les rassemblements</h2>
          <div class="container">
            <p>Nuit Debout, c'est dans toute la France, et maintenant en Europe !</p>
            <iframe width="100%" height="500px" frameBorder="0" src="https://framacarte.org/fr/map/nuitdebout_2420?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&datalayersControl=false&onLoadPanel=none&captionBar=false#5/46.332/3.340"></iframe>
          </div>
        </div>


        <div class="section">
          <div class="container">
            <h2 class="center nd_brand">#NuitDebout sur Instagram</h2>
          </div>
          <!-- SnapWidget -->
          <script src="https://snapwidget.com/js/snapwidget.js"></script>
          <iframe src="https://snapwidget.com/in/?h=bnVpdGRlYm91dHxpbnwxODB8OHwyfHx5ZXN8NXxmYWRlT3V0fG9uU3RhcnR8bm98eWVz&ve=060416" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
        </div>


      </div>

{{> footer }}
